@keyframes openMap {
    0% {
        border: 0px;
        width: 0px;
        height: 0px;
    }
    30%{
        border: 1px;
    }
    50% {
        width: 0px;
        height: 480px;
    }
    100% {
        width: 480px;
        height: 480px;
    }
}
.googleMapApi{
    animation: openMap;
    animation-duration: 2s;
    border: 2px solid black;
    position: absolute;
    height: 480px;
    width: 480px;
    top:3.5em;
    left:2em;
}
.gm-fullscreen-control {
    display: none;
}
.googleMap_icon{
    position: absolute;
    top:-26px;
    left:-9px;
}

@media (max-width: 720px) {
    @keyframes openMap {
        0% {
            border: 0px;
            width: 0px;
            height: 0px;
        }
        30%{
            border: 1px;
        }
        50% {
            width: 0px;
            height: 30%;
        }
        100% {
            width: 80%;
            height: 30%;
        }
    }
    .googleMapApi{
        animation: openMap;
        animation-duration: 2s;
        border: 2px solid black;
        position: absolute;
        height: 30%;
        width: 80%;
        top: 450px;
        left: 50%;
        transform: translate(-50%,0%);
    }
}