
.guideBox {
    position: relative;
    margin: 0px auto;
    padding: 0px auto;
    width: 100%;
}
.contentBlock {
    margin: 0px auto;
    padding: 0px auto;
    width: 68%;
    display: flex;
    justify-content:Space-evenly;
    flex-wrap: wrap
}
@media (max-width: 720px) {
    .contentBlock {
       
        margin: 0px auto;
        padding: 0px auto;
        width: 80%;
        justify-content:Space-evenly;
        flex-wrap: wrap
    }
}
