.itemBlock{
    height:346px;
    width:346px;
    border-radius: 13px;
    background-color: aquamarine;
    margin:93px;
    margin-top:50px;
    margin-bottom:50px;
}
.itemImg{
    border-radius: 10px;
    display: block;
    margin: 0px auto;
    height:346px;
    width:346px;
}
@media (max-width: 720px) {
    .itemBlock{
        height:200px;
        width:200px;
        border-radius: 13px;
        background-color: aquamarine;
        margin:10px;
        margin-top:20px;
        margin-bottom:20px;
    }
    .itemImg{
        border-radius: 10px;
        display: block;
        margin: 0px auto;
        height:200px;
        width:200px;
    }
}