@keyframes showIntro {
    0% {
        opacity: 0;
        display: none;
    }
    50% {
        opacity: 0;
        display: none;
    }
    100% {
        opacity: 1;
    }
}
.introBox{
    animation: showIntro;
    animation-duration: 4s;
    color: white;
    font-weight:bolder;
    font-size: 20px;
    background-color: rgb(46, 224, 165);
    padding-left: 20px;
    padding-right: 20px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 20px;
    height:190px;
    width:360px;
    position: absolute;
    top:360px;
    right:75px;
}
.introHead{
    margin-top:20px;
    margin-bottom:20px;
}
.introContent{
    margin:0px
}
@media (max-width: 720px) {
    .introBox{
        animation: showIntro;
        animation-duration: 4s;
        color: white;
        font-weight:bolder;
        font-size: 18px;
        background-color: rgb(46, 224, 165);
        padding-left: 20px;
        padding-right: 20px;
        border: 5px solid rgb(255, 255, 255);
        border-radius: 20px;
        height:210px;
        width:160px;
        position: absolute;
        top:340px;
        right:1em;
    }
    .introHead{
        margin-top:10px;
        margin-bottom:10px;
    }
    .introContent{
        margin:0px
    }
}